parameters:
    # DATABASE
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     arteesistenza
    database_user:     root
    database_password: ~

    # EMAIL
    mailer_transport: gmail
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_host: smtp.gmail.com
    mailer_imap: imap.gmail.com
    mailer_imap_port: 993
    mailer_imap_protocol: imap.gmail.com
    mailer_username: arte.esistenza@gmail.com
    mailer_password: livorno2013
    mailer_user: ARTEesistenza

    # LOCALE
    locale:            it
    secret:            ThisTokenIsNotSoSecretChangeIt

    # COMPASS
    ruby: /usr/bin/ruby
    scss: /usr/bin/sass                
    compass:   /usr/bin/compass
    compass_load_path: %kernel.root_dir%/../compass/extensions

    # SOCIAL NETWORK
    facebook.app_id: 502928559799016
    facebook.app_secret: 1378c3ebb45f5f9b63cdf992b6065eec
    twitter.app_id: ert6gEM1Go8YBwTbeeR8g
    twitter.app_secret: s3Qj0GkHmGdYJcV9SRYd0faxkNGKaxpmew5DrAT5dP0
