{% extends "::base.html.twig" %}

{% block body %}
<div class="container main_content">
    <div class="row">
        <div class="twelve columns">
            <p style="text-align: justify"> 
                Siamo arrivati alla conclusione di tre giorni di festa, che 
                hanno visto coinvolti oltre cento cittadini che lavorano, amano
                e sperano che arte e cultura non siano dimenticati.
            </p> 
            <p style="text-align: justify"> 
                In questo mese, abbiamo contattato le realtà che conoscevamo, e
                anche quelle che non conoscevamo direttamente: abbiamo avuto un
                coro di adesioni, anche per lo spirito di apertura con cui ci 
                siamo mossi: telefonate, appuntamenti per poi muoverci e 
                incontrare di persona chi avevamo cercato. Dopo poco il gioco 
                si è invertito: non eravamo più noi a cercare le associazioni e 
                le persone, erano loro a cercarci, ci hanno chiesto di 
                partecipare, e non abbiamo mai negato a nessuno di farlo, 
                neppure ai debuttanti! In questo modo, preferendo il contatto 
                personale e umano, abbiamo ricevuto oltre 100 adesioni fra 
                associazioni e privati cittadini in soli 25 giorni (hanno
                continuato a chiamarci anche durante questi tre giorni di 
                festa per strada), in tutto contiamo diverse centinaia di 
                persone hanno aderito e condiviso lo spirito dell'iniziativa, 
                contando anche le centinaia di adesioni arrivate dai social 
                network.
            </p> 
            <p style="text-align: justify"> 
                <b>ARTEesistenza</b> non morirà oggi, ma continuerà a lavorare 
                prevalentemente con le associazioni e i luoghi che continuano a
                produrre o ospitare arte e cultura a Livorno, con l'obiettivo 
                di creare un elenco di proposte (nate dai confronti che 
                cercheremo con le associazioni) da portare in Comune, proposte 
                che abbiamo già iniziato a raccogliere e che già vediamo 
                delineare con i primi incontri e di cui ne anticiperemo in 
                seguito alcune.
            </p> 
            <p style="text-align: justify"> 
                Continueremo anche a cercare di creare una sensibilizzazione 
                verso i cittadini, ormai da anni sottostimolati e sempre più 
                distanti dalle realtà culturali cittadine. Non vogliamo 
                tralasciare nulla: riteniamo che le scuole debbano essere il 
                primo posto dove insegnare ad apprezzare arte e cultura, 
                attraverso percorsi formativi che uniscono il ludo con 
                l'insegnamento, ma al tempo stesso occorre operare anche in 
                altre realtà, da dove c'è disagio lavorativo, per proporre 
                percorsi formativi che possono portare anche competenze di 
                diverso genere, ai pensionati, coinvolgendoli attivamente in 
                attività sociali.
            </p> 
            <p style="text-align: justify"> 
                Secondo noi è importante impegnarsi sotto questi due fronti,
                perché anche attraverso l'accrescimento del nostro patrimonio 
                artistico, culturale e delle competenze, può nascere anche
                una nuova spinta economica per la città: i luoghi, le strutture
                e i monumenti che da sempre hanno ospitato eventi, devono 
                essere preservati. Una buona programmazione artistica e 
                culturale, oltre a creare lavoro per le maestranze, può creare 
                turismo e di conseguenza anche lavoro per gli esercenti che 
                hanno le proprie attività nei pressi del centro d'attrazione. 
                Anche per questo è importante che i luoghi di aggregazione 
                socio-culturale siano nel centro della città, e non nelle
                zone periferiche.
            </p> 
            <p style="text-align: justify"> 
                Livorno, nella sua "povertà" architetturale-artistica, dovuta
                in gran parte ai bombardamenti avvenuti durante la seconda 
                guerra mondiale, deve riuscire a valorizzare al massimo le 
                poche cose che possiede e che fortunatamente sono tutte in zone 
                nevralgiche della città: Fortezze Nuova, Fortezza Vecchia, 
                Forte S.Pietro, Casa della Cultura, Goldoni, Caprilli, 
                Teatro delle Commedie solo per citare i più importanti.
            </p> 
            <p style="text-align: justify"> 
                Tornando a parlare di tutte le realtà coinvolte in 
                <b>ARTEesistenza</b>, avendo già iniziato un dialogo con loro, 
                abbiamo già notato che ci sono alcune richieste in comune, che 
                noi trasformiamo in proposte. In questa lettera ne anticipiamo 
                due, la più sentita da parte delle associazioni e una nata un 
                uno dei tanti momenti organizzativi che abbiamo avuto in questi 
                giorni, che per noi rappresenterebbe l'atto finale di 
                <b>ARTEesistenza</b>.
            </p> 
            <p style="text-align: justify"> 
                La richiesta più frequente venuta fuori dal dialogo con le 
                associazioni è per quanto riguarda gli spazi. Non si parla di 
                palcoscenici, ma semplicemente di stanze dove ritrovarsi, fare 
                le prove, dove riuscire a fare anche una spettacolarizzazione 
                minima aprendola a un pubblico. Questo ci è stato raccontato 
                assieme a aneddoti di luoghi di luoghi di ritrovo di fortuna: 
                garage, case, circoli, giardini, terrazzi... in dimostrazione 
                che la volontà di far parte del tessuto culturale cittadino c'è 
                ed è grande.
            </p> 
            <p style="text-align: justify"> 
                La proposta nata da queste richieste è quella dell'apertura di 
                luoghi chiusi: per portare degli esempi possiamo citare le 
                stanze sotto il mercato centrale, quelle in piazza S.Marco, la 
                Casa della Cultura (quando i lavori saranno conclusi) e altri 
                spazi inutilizzati da anni. Suggeriamo di aprire questi spazi 
                e di dare in gestione le stanze a chi ne fa richiesta ad un 
                affitto simbolico o in comodato d'uso (con criteri da definire 
                a seconda del luogo e delle finalità d'uso dichiarate nella
                domanda), con l'obbligo -da parte di chi usufruirà del bene- 
                di rivalorizzazione del luogo assegnato.
            </p> 
            <p style="text-align: justify"> 
                La proposta nata dai nostri incontri organizzativi l'abbiamo 
                chiamata "Le settimane delle arti", ovvero delle settimane 
                dedicate al teatro, alla danza, alla musica, alla lirica, 
                alle arti figurative, ecc... settimane organizzate nell'arco 
                dell'anno, dove coinvolgere le forze locali: dai professionisti
                agli amatori, ai debuttanti, usando gli spazi naturali, i 
                monumenti e i luoghi adatti a ospitare le varie forme d'arte. 
                Livorno potrebbe essere promotrice a di questa iniziativa che 
                è facilmente esportabile anche in altre città, e dopo che più
                Comuni o Province si sono attivate con l'organizzazione delle
                settimane delle arti, può iniziare anche un percorso di scambi 
                che può portare fuori i nostri artisti e ospitare artisti di 
                altre città, e quindi iniziare anche un percorso di crescita 
                turistica della città legata alle arti. Lo scambio e 
                condivisione è importante, in quanto la nostra non è 
                assolutamente un'iniziativa autoreferenziale o chiusa, e con 
                lo spirito con cui abbiamo dato vita a ARTEesistenza,
                abbiamo ideato la proposta delle settimane delle arti.
            </p> 
            <p style="text-align: justify"> 
                Questi sono solo due esempi delle proposte che porteremo sul 
                tavolo. I nostri intenti sono sempre stati propositivi, e 
                vogliamo portare il nostro contributo alla rinascita artistica 
                e culturale della città.
            </p> 
            <p style="text-align: right"> 
                Gli organizzatori di ARTEesistenza
            </p>
        </div>
    </div>
</div>
{% endblock %}