{% extends "::base.html.twig" %}

{% block body %}
<div class="container main_content">
    <div class="row">
        <div class="twelve columns">
            <p style="text-align: justify"> 
                La vita artistica e culturale livornese sta soffrendo e 
                rischia di annegare nell'indifferenza di chi invece dovrebbe 
                valorizzarla.
            </p> 
            <p style="text-align: justify"> 
                La presenza di punte di eccellenza nei più diversi campi 
                culturali e di spettacolo, che continuano ad avere 
                riconoscimenti a livello nazionale, non bastano a consolarci 
                di fronte al crescente disinteresse delle istituzioni, ed 
                all'affievolirsi delle opportunità di valorizzazione delle 
                attività culturali della città.
            </p> 
            <p style="text-align: justify"> 
                Questo disinteresse ha conseguentemente contagiato anche gran 
                parte dei livornesi, che non ricevendo stimoli dalle 
                istituzioni, si sono progressivamente distaccati dalle realtà 
                che ancora oggi riescono a produrre arte e cultura.
            </p> 
            <p style="text-align: justify"> 
                Non possiamo restare indifferenti di fronte a questa 
                situazione; il buon uso del capitale intellettuale e creativo 
                può servire da sostegno per la rinascita della città come pure 
                lo può essere la valorizzazione del proprio patrimonio 
                storico-culturale.
            </p> 
            <p style="text-align: justify"> 
                Persistendo la situazione attuale temiamo anche per il destino
                delle strutture e dei monumenti, gioielli della città: come la
                Fortezza Nuova da tempo inutilizzata a cui si è aggiunta di
                recente la Fortezza Vecchia, che possono rischiare l’abbandono 
                come le terme del Corallo; o la paventata chiusura del Goldoni, 
                del Nuovo Teatro delle Commedie e della "Mascagni", e questi 
                solamente per citarne alcuni.
            </p> 
            <p style="text-align: justify"> 
                Peraltro i due aspetti non sono scissi, perché quando queste 
                non siano strutture finalizzate alla produzione e formazione
                artistica e culturale, possono -come monumenti- costituire dei
                contenitori ideali di eventi e rappresentazioni come già 
                avvenuto in passato, dimostrando quanto si esaltino a vicenda.
            </p> 
            <p style="text-align: justify"> 
                Il nostro occhio è puntato anche su altre strutture private che
                sono a rischio chiusura o che faticano a proseguire le loro 
                attività. Non abbiamo intenzione di rivivere ciò che successe 
                nel 2005, con le chiusure di Metropolitan, Odeon e Gran 
                Guardia, tre strutture che per anni hanno rappresentato il 
                cuore pulsante della città, che con la loro chiusura hanno 
                impoverito la vita cittadina con pesanti conseguenze anche sul 
                mondo del lavoro, lavoro che direttamente o per indotto 
                generavano.
            </p> 
            <p style="text-align: justify"> 
                Livorno ha un patrimonio storico ed umano lasciato al proprio 
                destino, e non possiamo pensare che tutto ciò avvenga nella 
                rassegnazione e nell'assuefazione dei livornesi: i cittadini e
                le Associazioni facciano sentire la loro voce.
            </p> 
            <p style="text-align: justify"> 
                Non si può progettare una città migliore se non attraverso la
                partecipazione attiva e democratica, il godimento del 
                patrimonio comune e l’innalzamento del livello culturale, tutto
                il resto verrà di conseguenza.
            </p> 
            <p style="text-align: justify"> 
                Non può esistere ripresa economica, non può esistere democrazia
                se abbandoniamo quello che deve essere il tessuto culturale 
                della città, perciò riteniamo che TRA GLI IMPEGNI PRIORITARI
                DEVE ESSERCI QUELLO DI RICOSTRUIRLO.
            </p>
        </div>
    </div>
</div>
{% endblock %}