{% extends "::base.html.twig" %}

{% block body %}
<div class="container main_content">
    <div class="row">
        <div class="twelve columns">
            <p style="text-align: justify"> 
                <b>ARTEesistenza</b> nasce a Livorno come movimento spontaneo 
                a inizio luglio 2013. Quando nasce, il suo principale scopo è
                quello di attirare l'attenzione sulla drammatica situazione 
                artistico-culturale che sta vivendo Livorno, che vede la chiusura 
                o la prospettiva di chiusura degli ultimi luoghi pubblici di 
                aggregazione socio-culturale: Fortezza Vecchia, Caprilli, Nuovo
                Teatro delle Commedie e Goldoni per citare i luoghi più famosi.
                Purtroppo nello stesso periodo, circolano voci preoccupanti che
                riguardano attività culturali di imprenditori privati, come ad
                esempio il Cinema Grande e il Kindessé.
            </p>
            <p>
                Fortunatamente già quando ci stavamo organizzando per realizzare
                l'evento del 24-25-26 luglio 2013, sono arrivate le prime notizie
                positive, ma non sufficienti per placare il malessere creato da
                questa catena di annunci.<br />
                Così, in poco più di tre settimane abbiamo contattato oltre 100 
                realtà artistice o culturali della città, e siamo scesi "in strada"
                ad esibirci, perché dopo tutte quelle chiusure la strada sarebbe 
                rimasta l'unico luogo dove poter fare attività culturali, continuare
                a fare spettacoli e a incontrarsi.<br />
                La tre giorni di eventi ha avuto un buon seguito e ha attirato
                l'attenzione di chi di dovere.
            </p>
            <p>
                Conoscere e confrontarci con decine di realtà cittadine su questo
                tema, ci ha poi mostrato come proseguire il percorso iniziato, e
                questo sito Internet è il primo passo per iniziare il nuovo percorso
            </p>
        </div>
        {% include "::layout/demo/row.html.twig" %}
        <div class="twelve columns">
            <p style="text-align: justify"> 
                I nostri obiettivi futuri si possono riassumere in 4 punti:
            </p>
        </div>
        <div class="three columns">
            <h2>Memoria storica</h2>
            <p style="text-align: justify"> 
                Spesso a Livorno, tendiamo a scordarci del partimonio che in
                passato la città offriva, per questo riteniamo importante
                censire Luoghi e Eventi che hanno animato la città negli
                ultimi anni. Partiremo da quelli più recenti per andare
                indietro nel tempo.
            </p>
        </div>
        <div class="three columns">
            <h2>Fare Rete</h2>
            <p style="text-align: justify"> 
                Riuscire a organizzare una rete fra le realtà artistiche e
                culturali della città, per permettere di creare scambi e
                collaborazioni. Un lavoro che già ad Agosto abbiamo iniziato
                a fare che ha visto già i primi risultati andare in scena.
            </p>
        </div>
        <div class="three columns">
            <h2>Una risorse cittadina</h2>
            <p style="text-align: justify"> 
                <b>ARTEesistenza</b> vuole proporsi come una risorsa cittadina,
                chiusa ai partiti politici, ma disposta a collaborarci
                indipendentemente dal colore. Metteremo a disposizione le
                nostre competenze e i nostri contatti che stanno crescendo
                ogni giorno di più.
            </p>
        </div>
        <div class="three columns">
            <h2>Congresso</h2>
            <p style="text-align: justify"> 
                Il nostro lavoro in questo momento è finalizzato alla 
                realizzazione di un Congresso a cui saranno invitati
                associazioni, operatori, sindacati e partiti politici. Il
                congresso avrà come fine ultimo la stesura di proposte per
                far rinascere la Livorno culturale.
            </p>
        </div>
    </div>
</div>
{% endblock %}